Lab2/demo/src/main/java/com/example/Schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="greenhouse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="flower" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name" />
                            <xs:element name="soil">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="podzol" />
                                        <xs:enumeration value="turf-podzol" />
                                        <xs:enumeration value="regular" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:string" name="origin" />
                            <xs:element name="visuals">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:unsignedShort" name="stalk_length" />
                                        <xs:element type="xs:string" name="color" />
                                        <xs:element type="xs:unsignedShort" name="flower_diameter" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="tips">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:short" name="temperature" />
                                        <xs:element type="xs:unsignedShort" name="illumination" />
                                        <xs:element type="xs:unsignedShort" name="irrigation" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="reproduction">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="leaves" />
                                        <xs:enumeration value="stalks" />
                                        <xs:enumeration value="seeds" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:ID" name="id" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>